LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
LINE_LOGIN_CHANNEL_ID=
NEXT_PUBLIC_LIFF_ID=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_VISION_OCR=enabled
HERMES_ENDPOINT=disabled
HERMES_API_KEY=disabled
HERMES_CACHE_TTL_SECONDS=21600
SLIP_WORKER_COMMAND=disabled
